debian/geekodoc/usr/share/xml/geekodoc/rng/2_5.2/geekodoc-v2.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--
  
  GeekoDoc Schema version 2
  
  See http://docbook.org/docs/howto
  
  This schema is a customization of DocBook for SUSE documents
  
  Author: Thomas Schraitle, 2015-2022
  
-->
<!-- ======== Namespace -->
<!--
  Namespace for DocBook Transclusions
  See http://docbook.org/docs/transclusion/
-->
<grammar ns="http://docbook.org/ns/docbook" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:ctrl="http://nwalsh.com/xmlns/schema-control/" xmlns:svg="http://www.w3.org/2000/svg" xmlns:its="http://www.w3.org/2005/11/its" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:mml="http://www.w3.org/1998/Math/MathML" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:s="http://purl.oclc.org/dsdl/schematron" xmlns:html="http://www.w3.org/1999/xhtml" xmlns:locattr="http://www.w3.org/2001/XInclude/local-attributes" xmlns:db="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:trans="http://docbook.org/ns/transclusion" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!-- ======== Schematron namespaces -->
  <s:ns uri="http://docbook.org/ns/docbook" prefix="db"/>
  <s:ns uri="http://www.w3.org/1999/xlink" prefix="xlink"/>
  <s:ns uri="http://www.w3.org/2005/11/its" prefix="its"/>
  <!-- ======== Constants -->
  <define name="suse.schema.version">
    <value>5.2CR5-subset GeekoDoc-2</value>
  </define>
  <!-- ======== Our own patterns -->
  <div>
    <define name="db.entry.model">
      <!--
        Issue 56:
        Remove procedure from tables
        This pattern is used to restrict the <entry> element
        - no procedures
        Original definition:
        (db.nopara.blocks | db.para.blocks | db.extension.blocks)
        
        We need to resolve the db.list.blocks patterns to avoid adding
        <procedures>:
      -->
      <choice>
        <zeroOrMore>
          <choice>
            <ref name="db.remark"/>
            <text/>
            <ref name="db.ubiq.inlines"/>
            <ref name="db.general.inlines"/>
            <ref name="db.domain.inlines"/>
            <ref name="db.extension.inlines"/>
            <ref name="db.xi.include"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="db.para.blocks"/>
            <ref name="db.remark"/>
            <ref name="db.itemizedlist"/>
            <ref name="db.orderedlist"/>
            <ref name="db.simplelist"/>
            <ref name="db.variablelist"/>
            <ref name="db.segmentedlist"/>
            <ref name="db.glosslist"/>
            <ref name="db.bibliolist"/>
            <ref name="db.calloutlist"/>
            <ref name="db.qandaset"/>
            <ref name="db.formal.blocks"/>
            <ref name="db.publishing.blocks"/>
            <ref name="db.graphic.blocks"/>
            <ref name="db.verbatim.blocks"/>
            <ref name="db.synopsis.blocks"/>
            <ref name="db.annotation"/>
            <ref name="db.xi.include"/>
            <ref name="db.extension.blocks"/>
            <ref name="db.admonition.blocks"/>
          </choice>
        </zeroOrMore>
      </choice>
    </define>
    <define name="db.step.blocks">
      <choice>
        <ref name="db.para.blocks"/>
        <ref name="db.remark"/>
        <ref name="db.indexterm"/>
        <!-- TODO: Remove that (currently we have too much of that) -->
        <ref name="db.example"/>
        <ref name="db.figure"/>
        <ref name="db.informalexample"/>
        <ref name="db.informalfigure"/>
        <ref name="db.informaltable"/>
        <ref name="db.admonition.blocks"/>
        <ref name="db.graphic.blocks"/>
        <ref name="db.verbatim.blocks"/>
        <ref name="db.extension.blocks"/>
        <ref name="db.itemizedlist"/>
        <ref name="db.orderedlist"/>
        <ref name="db.simplelist"/>
        <ref name="db.variablelist"/>
        <ref name="db.calloutlist"/>
        <ref name="db.calloutlist"/>
        <ref name="db.annotation"/>
        <ref name="db.xi.include"/>
        <ref name="db.table"/>
      </choice>
    </define>
    <!--
      no db.publishing.blocks, db.technical.blocks
      | db.formal.blocks - db.table - db.equation
      | db.informal.blocks - db.informaltable - db.informalequation
      | db.procedure
      | db.segmentedlist
      | db.glosslist
      | db.bibliolist
      | db.qandaset
      - - - - 
    -->
  </div>
  <div>
    <define name="db.xlink.hrefreq.simple.link.attributes">
      <interleave>
        <optional>
          <ref name="db.xlink.simple.type.attribute"/>
        </optional>
        <ref name="db.xlink.href.attribute"/>
        <optional>
          <ref name="db.xlink.role.attribute"/>
        </optional>
        <optional>
          <ref name="db.xlink.arcrole.attribute"/>
        </optional>
        <optional>
          <ref name="db.xlink.title.attribute"/>
        </optional>
        <optional>
          <ref name="db.xlink.show.attribute"/>
        </optional>
        <optional>
          <ref name="db.xlink.actuate.attribute"/>
        </optional>
      </interleave>
    </define>
  </div>
  <div>
    <define name="db.format.enumeration">
      <choice>
        <a:documentation>Allowed formats for SUSE documentation</a:documentation>
        <value>DIA</value>
        <a:documentation>Format of the dia tool</a:documentation>
        <value>dia</value>
        <a:documentation>Format of the dia tool</a:documentation>
        <value>EPS</value>
        <a:documentation>Encapsulated PostScript</a:documentation>
        <value>eps</value>
        <a:documentation>Encapsulated PostScript</a:documentation>
        <value>FIG</value>
        <a:documentation>Format of the xfig tool</a:documentation>
        <value>fig</value>
        <a:documentation>Format of the xfig tool</a:documentation>
        <value>ODG</value>
        <a:documentation>LibreOffice illustration format</a:documentation>
        <value>odg</value>
        <a:documentation>LibreOffice illustration format</a:documentation>
        <value>PDF</value>
        <a:documentation>Portable Document Format</a:documentation>
        <value>pdf</value>
        <a:documentation>Portable Document Format</a:documentation>
        <value>PNG</value>
        <a:documentation>Portable Network Graphics</a:documentation>
        <value>png</value>
        <a:documentation>Portable Network Graphics</a:documentation>
        <value>JPG</value>
        <a:documentation>Joint Photography Experts Group format</a:documentation>
        <value>jpg</value>
        <a:documentation>Joint Photography Experts Group format</a:documentation>
        <value>JPEG</value>
        <a:documentation>Joint Photographic Experts Group</a:documentation>
        <value>jpeg</value>
        <a:documentation>Joint Photographic Experts Group</a:documentation>
        <value>SVG</value>
        <a:documentation>Scalable Vector Graphics</a:documentation>
        <value>svg</value>
        <a:documentation>Scalable Vector Graphics</a:documentation>
      </choice>
    </define>
    <!--
      The original list from the DocBook 4.5 DTD was:
      "BMP| CGM-CHAR | CGM-BINARY | CGM-CLEAR | DITROFF | DVI
       | EPS | EQN | FAX | GIF | GIF87a | GIF89a
       | JPG | JPEG | IGES | PCX
       | PIC | PNG | PS | SGML | TBL | TEX | TIFF | WMF | WPG
       | SVG | PDF | SWF
       | linespecific
    -->
  </div>
  <div>
    <!-- Issue #90: Restrict character set of profiling attributes -->
    <define name="db.profiling.pattern">
      <data type="string">
        <param name="pattern">([\.\-_0-9a-z]+)(;[\.\-_0-9a-z]+)*</param>
      </data>
    </define>
  </div>
  <!-- Use a catalog entry to resolve this: -->
  <include href="db52itsxi.rng">
    <!--
      Redefine element pattern as notAllowed here as they are not needed:
      
      List created with:
      egrep "\s+db\.[a-z]+\s*=\s*" /usr/share/xml/docbook/schema/rng/5.1/docbook.rnc  | sort > db5-elements.txt
      cat db5-elements.txt | sed 's,=,= notAllowed,g' > db5-elements-notallowed.txt
      
    -->
    <div>
      <define name="db.abbrev">
        <notAllowed/>
      </define>
      <!-- db.abstract = notAllowed -->
      <define name="db.accel">
        <notAllowed/>
      </define>
      <define name="db.acknowledgements">
        <notAllowed/>
      </define>
      <define name="db.acronym">
        <notAllowed/>
      </define>
      <define name="db.address">
        <notAllowed/>
      </define>
      <!--
        db.affiliation = notAllowed
        db.alt = notAllowed
      -->
      <define name="db.anchor">
        <notAllowed/>
      </define>
      <!--
        db.annotation = notAllowed
        db.answer = notAllowed
        db.appendix = notAllowed
      -->
      <define name="db.application">
        <notAllowed/>
      </define>
      <define name="db.arc">
        <notAllowed/>
      </define>
      <define name="db.area">
        <notAllowed/>
      </define>
      <define name="db.areaset">
        <notAllowed/>
      </define>
      <define name="db.areaspec">
        <notAllowed/>
      </define>
      <define name="db.arg">
        <notAllowed/>
      </define>
      <!-- db.article = notAllowed -->
      <define name="db.artpagenums">
        <notAllowed/>
      </define>
      <define name="db.attribution">
        <notAllowed/>
      </define>
      <define name="db.audiodata">
        <notAllowed/>
      </define>
      <define name="db.audioobject">
        <notAllowed/>
      </define>
      <!--
        db.author = notAllowed
        db.authorgroup = notAllowed
      -->
      <define name="db.authorinitials">
        <notAllowed/>
      </define>
      <define name="db.bibliocoverage">
        <notAllowed/>
      </define>
      <define name="db.bibliodiv">
        <notAllowed/>
      </define>
      <define name="db.biblioentry">
        <notAllowed/>
      </define>
      <define name="db.bibliography">
        <notAllowed/>
      </define>
      <define name="db.biblioid">
        <notAllowed/>
      </define>
      <define name="db.bibliolist">
        <notAllowed/>
      </define>
      <define name="db.bibliomisc">
        <notAllowed/>
      </define>
      <define name="db.bibliomixed">
        <notAllowed/>
      </define>
      <define name="db.bibliomset">
        <notAllowed/>
      </define>
      <define name="db.biblioref">
        <notAllowed/>
      </define>
      <define name="db.bibliorelation">
        <notAllowed/>
      </define>
      <define name="db.biblioset">
        <notAllowed/>
      </define>
      <define name="db.bibliosource">
        <notAllowed/>
      </define>
      <define name="db.blockquote">
        <notAllowed/>
      </define>
      <!--
        db.book = notAllowed
        db.bridgehead = notAllowed
      -->
      <define name="db.buildtarget">
        <notAllowed/>
      </define>
      <!--
        db.callout = notAllowed
        db.calloutlist = notAllowed
      -->
      <define name="db.caption">
        <notAllowed/>
      </define>
      <!--
        db.caution = notAllowed
        db.chapter = notAllowed
      -->
      <define name="db.citation">
        <notAllowed/>
      </define>
      <define name="db.citebiblioid">
        <notAllowed/>
      </define>
      <define name="db.citerefentry">
        <notAllowed/>
      </define>
      <!-- db.citetitle = notAllowed -->
      <define name="db.city">
        <notAllowed/>
      </define>
      <define name="db.classname">
        <notAllowed/>
      </define>
      <define name="db.classsynopsis">
        <notAllowed/>
      </define>
      <define name="db.classsynopsisinfo">
        <notAllowed/>
      </define>
      <define name="db.cmdsynopsis">
        <notAllowed/>
      </define>
      <!--
        db.co = notAllowed
        db.code = notAllowed
      -->
      <define name="db.collab">
        <notAllowed/>
      </define>
      <define name="db.colophon">
        <notAllowed/>
      </define>
      <!--
        db.colspec = notAllowed
        db.command = notAllowed
      -->
      <define name="db.computeroutput">
        <notAllowed/>
      </define>
      <define name="db.confdates">
        <notAllowed/>
      </define>
      <define name="db.confgroup">
        <notAllowed/>
      </define>
      <define name="db.confnum">
        <notAllowed/>
      </define>
      <define name="db.confsponsor">
        <notAllowed/>
      </define>
      <define name="db.conftitle">
        <notAllowed/>
      </define>
      <!-- db.constant = notAllowed -->
      <define name="db.constraint">
        <notAllowed/>
      </define>
      <define name="db.constraintdef">
        <notAllowed/>
      </define>
      <define name="db.constructorsynopsis">
        <notAllowed/>
      </define>
      <define name="db.contractnum">
        <notAllowed/>
      </define>
      <define name="db.contractsponsor">
        <notAllowed/>
      </define>
      <!--
        db.contrib = notAllowed
        db.copyright = notAllowed
      -->
      <define name="db.coref">
        <notAllowed/>
      </define>
      <define name="db.country">
        <notAllowed/>
      </define>
      <!-- db.cover = notAllowed -->
      <define name="db.danger">
        <notAllowed/>
      </define>
      <define name="db.database">
        <notAllowed/>
      </define>
      <!-- db.date = notAllowed -->
      <define name="db.dedication">
        <notAllowed/>
      </define>
      <define name="db.destructorsynopsis">
        <notAllowed/>
      </define>
      <!--
        db.edition = notAllowed
        db.editor = notAllowed
        db.email = notAllowed
        db.emphasis = notAllowed
        db.entry = notAllowed
      -->
      <define name="db.entrytbl">
        <notAllowed/>
      </define>
      <define name="db.enumidentifier">
        <notAllowed/>
      </define>
      <define name="db.enumitem">
        <notAllowed/>
      </define>
      <define name="db.enumname">
        <notAllowed/>
      </define>
      <define name="db.enumsynopsis">
        <notAllowed/>
      </define>
      <define name="db.enumvalue">
        <notAllowed/>
      </define>
      <!-- db.envar = notAllowed -->
      <define name="db.epigraph">
        <notAllowed/>
      </define>
      <define name="db.equation">
        <notAllowed/>
      </define>
      <define name="db.errorcode">
        <notAllowed/>
      </define>
      <define name="db.errorname">
        <notAllowed/>
      </define>
      <define name="db.errortext">
        <notAllowed/>
      </define>
      <define name="db.errortype">
        <notAllowed/>
      </define>
      <!-- db.example = notAllowed -->
      <define name="db.exceptionname">
        <notAllowed/>
      </define>
      <define name="db.extendedlink">
        <notAllowed/>
      </define>
      <define name="db.fax">
        <notAllowed/>
      </define>
      <define name="db.fieldsynopsis">
        <notAllowed/>
      </define>
      <!--
        db.figure = notAllowed
        db.filename = notAllowed
        db.firstname = notAllowed
      -->
      <define name="db.firstterm">
        <notAllowed/>
      </define>
      <!-- db.footnote = notAllowed # For Meike ;) -->
      <define name="db.footnoteref">
        <notAllowed/>
      </define>
      <define name="db.foreignphrase">
        <notAllowed/>
      </define>
      <!--
        db.formalpara = notAllowed
        db.formalgroup = notAllowed
      -->
      <define name="db.funcdef">
        <notAllowed/>
      </define>
      <define name="db.funcparams">
        <notAllowed/>
      </define>
      <define name="db.funcprototype">
        <notAllowed/>
      </define>
      <define name="db.funcsynopsis">
        <notAllowed/>
      </define>
      <define name="db.funcsynopsisinfo">
        <notAllowed/>
      </define>
      <!--
        db.function = notAllowed
        db.glossary = notAllowed
        db.glossdef = notAllowed
        db.glossdiv = notAllowed
        db.glossentry = notAllowed
        db.glosslist = notAllowed
        db.glosssee = notAllowed
        db.glossseealso = notAllowed
        db.glossterm = notAllowed
      -->
      <define name="db.group">
        <notAllowed/>
      </define>
      <define name="db.guibutton">
        <notAllowed/>
      </define>
      <define name="db.guiicon">
        <notAllowed/>
      </define>
      <!--
        db.guilabel = notAllowed
        db.guimenu = notAllowed
      -->
      <define name="db.guimenuitem">
        <notAllowed/>
      </define>
      <define name="db.guisubmenu">
        <notAllowed/>
      </define>
      <define name="db.hardware">
        <notAllowed/>
      </define>
      <!-- db.holder = notAllowed -->
      <define name="db.honorific">
        <notAllowed/>
      </define>
      <!--
        db.imagedata = notAllowed
        db.imageobject = notAllowed
      -->
      <define name="db.imageobjectco">
        <notAllowed/>
      </define>
      <!--
        db.important = notAllowed
        db.index = notAllowed
        db.indexdiv = notAllowed
        db.indexentry = notAllowed
        db.indexterm = notAllowed
        db.info = notAllowed
      -->
      <define name="db.informalequation">
        <notAllowed/>
      </define>
      <!--
        db.informalexample = notAllowed
        db.informalfigure = notAllowed
      -->
      <define name="db.initializer">
        <notAllowed/>
      </define>
      <define name="db.inlineequation">
        <notAllowed/>
      </define>
      <!-- db.inlinemediaobject = notAllowed -->
      <define name="db.interfacename">
        <notAllowed/>
      </define>
      <define name="db.issuenum">
        <notAllowed/>
      </define>
      <!-- db.itemizedlist = notAllowed -->
      <define name="db.itermset">
        <notAllowed/>
      </define>
      <!--
        db.jobtitle = notAllowed
        db.keycap = notAllowed
      -->
      <define name="db.keycode">
        <notAllowed/>
      </define>
      <!-- db.keycombo = notAllowed -->
      <define name="db.keysym">
        <notAllowed/>
      </define>
      <!--
        db.keyword = notAllowed
        db.keywordset = notAllowed
      -->
      <define name="db.label">
        <notAllowed/>
      </define>
      <!-- db.legalnotice = notAllowed -->
      <define name="db.lhs">
        <notAllowed/>
      </define>
      <define name="db.lineage">
        <notAllowed/>
      </define>
      <define name="db.lineannotation">
        <notAllowed/>
      </define>
      <!--
        db.link = notAllowed
        db.listitem = notAllowed
        db.literal = notAllowed
      -->
      <define name="db.literallayout">
        <notAllowed/>
      </define>
      <define name="db.locator">
        <notAllowed/>
      </define>
      <define name="db.macroname">
        <notAllowed/>
      </define>
      <define name="db.macroprototype">
        <notAllowed/>
      </define>
      <define name="db.macrosynopsis">
        <notAllowed/>
      </define>
      <define name="db.manvolnum">
        <notAllowed/>
      </define>
      <define name="db.markup">
        <notAllowed/>
      </define>
      <define name="db.mathphrase">
        <notAllowed/>
      </define>
      <!--
        db.mediaobject = notAllowed
        db.member = notAllowed
        db.menuchoice = notAllowed
        db.meta = notAllowed
      -->
      <define name="db.methodname">
        <notAllowed/>
      </define>
      <define name="db.methodparam">
        <notAllowed/>
      </define>
      <define name="db.methodsynopsis">
        <notAllowed/>
      </define>
      <define name="db.modifier">
        <notAllowed/>
      </define>
      <define name="db.mousebutton">
        <notAllowed/>
      </define>
      <define name="db.msg">
        <notAllowed/>
      </define>
      <define name="db.msgaud">
        <notAllowed/>
      </define>
      <define name="db.msgentry">
        <notAllowed/>
      </define>
      <!-- db.msgexplan = notAllowed -->
      <define name="db.msginfo">
        <notAllowed/>
      </define>
      <define name="db.msglevel">
        <notAllowed/>
      </define>
      <define name="db.msgmain">
        <notAllowed/>
      </define>
      <define name="db.msgorig">
        <notAllowed/>
      </define>
      <define name="db.msgrel">
        <notAllowed/>
      </define>
      <define name="db.msgset">
        <notAllowed/>
      </define>
      <define name="db.msgsub">
        <notAllowed/>
      </define>
      <!--
        db.msgtext = notAllowed
        db.multimediaparam = notAllowed
      -->
      <define name="db.nonterminal">
        <notAllowed/>
      </define>
      <!-- db.note = notAllowed -->
      <define name="db.olink">
        <notAllowed/>
      </define>
      <define name="db.ooclass">
        <notAllowed/>
      </define>
      <define name="db.ooexception">
        <notAllowed/>
      </define>
      <define name="db.oointerface">
        <notAllowed/>
      </define>
      <!-- db.option = notAllowed -->
      <define name="db.optional">
        <notAllowed/>
      </define>
      <!-- db.orderedlist = notAllowed -->
      <define name="db.org">
        <notAllowed/>
      </define>
      <define name="db.orgdiv">
        <notAllowed/>
      </define>
      <!-- db.orgname = notAllowed -->
      <define name="db.otheraddr">
        <notAllowed/>
      </define>
      <!-- db.othercredit = notAllowed -->
      <define name="db.othername">
        <notAllowed/>
      </define>
      <!-- db.package = notAllowed -->
      <define name="db.packagesynopsis">
        <notAllowed/>
      </define>
      <define name="db.pagenums">
        <notAllowed/>
      </define>
      <!-- db.para = notAllowed -->
      <define name="db.paramdef">
        <notAllowed/>
      </define>
      <!--
        db.parameter = notAllowed
        db.part = notAllowed
        db.partintro = notAllowed
        db.person = notAllowed
        db.personblurb = notAllowed
        db.personname = notAllowed
      -->
      <define name="db.phone">
        <notAllowed/>
      </define>
      <!-- db.phrase = notAllowed -->
      <define name="db.pob">
        <notAllowed/>
      </define>
      <define name="db.postcode">
        <notAllowed/>
      </define>
      <!--
        db.preface = notAllowed
        db.primary = notAllowed
      -->
      <define name="db.primaryie">
        <notAllowed/>
      </define>
      <define name="db.printhistory">
        <notAllowed/>
      </define>
      <!-- db.procedure = notAllowed -->
      <define name="db.production">
        <notAllowed/>
      </define>
      <define name="db.productionrecap">
        <notAllowed/>
      </define>
      <define name="db.productionset">
        <notAllowed/>
      </define>
      <!--
        db.productname = notAllowed
        db.productnumber = notAllowed
        db.programlisting = notAllowed
      -->
      <define name="db.programlistingco">
        <notAllowed/>
      </define>
      <!--
        db.prompt = notAllowed
        db.property = notAllowed
        db.pubdate = notAllowed
      -->
      <define name="db.publisher">
        <notAllowed/>
      </define>
      <define name="db.publishername">
        <notAllowed/>
      </define>
      <!--
        db.qandadiv = notAllowed
        db.qandaentry = notAllowed
        db.qandaset = notAllowed
        db.question = notAllowed
        db.quote = notAllowed
      -->
      <define name="db.refclass">
        <notAllowed/>
      </define>
      <define name="db.refdescriptor">
        <notAllowed/>
      </define>
      <!--
        db.refentry = notAllowed
        db.refentrytitle = notAllowed
        db.reference = notAllowed
        db.refmeta = notAllowed
        db.refmiscinfo = notAllowed
        db.refname = notAllowed
        db.refnamediv = notAllowed
        db.refpurpose = notAllowed
        db.refsection = notAllowed
        db.refsynopsisdiv = notAllowed
        db.releaseinfo = notAllowed
        db.remark = notAllowed
        db.replaceable = notAllowed
      -->
      <define name="db.returnvalue">
        <notAllowed/>
      </define>
      <!--
        db.revdescription = notAllowed
        db.revhistory = notAllowed
        db.revision = notAllowed
        db.revnumber = notAllowed
        db.revremark = notAllowed
      -->
      <define name="db.rhs">
        <notAllowed/>
      </define>
      <!-- db.row = notAllowed -->
      <define name="db.sbr">
        <notAllowed/>
      </define>
      <!-- db.screen = notAllowed -->
      <define name="db.screenco">
        <notAllowed/>
      </define>
      <define name="db.screenshot">
        <notAllowed/>
      </define>
      <!-- db.secondary = notAllowed -->
      <define name="db.secondaryie">
        <notAllowed/>
      </define>
      <!--
        db.section = notAllowed
        db.see = notAllowed
      -->
      <define name="db.seealso">
        <notAllowed/>
      </define>
      <define name="db.seealsoie">
        <notAllowed/>
      </define>
      <define name="db.seeie">
        <notAllowed/>
      </define>
      <define name="db.seg">
        <notAllowed/>
      </define>
      <define name="db.seglistitem">
        <notAllowed/>
      </define>
      <define name="db.segmentedlist">
        <notAllowed/>
      </define>
      <define name="db.segtitle">
        <notAllowed/>
      </define>
      <define name="db.seriesvolnums">
        <notAllowed/>
      </define>
      <!-- db.set = notAllowed -->
      <define name="db.setindex">
        <notAllowed/>
      </define>
      <define name="db.shortaffil">
        <notAllowed/>
      </define>
      <define name="db.shortcut">
        <notAllowed/>
      </define>
      <define name="db.sidebar">
        <notAllowed/>
      </define>
      <define name="db.simpara">
        <notAllowed/>
      </define>
      <!--
        db.simplelist = notAllowed
        db.simplemsgentry = notAllowed
      -->
      <define name="db.simplesect">
        <notAllowed/>
      </define>
      <!-- db.spanspec = notAllowed -->
      <define name="db.specializedtemplate">
        <notAllowed/>
      </define>
      <define name="db.state">
        <notAllowed/>
      </define>
      <!--
        db.step = notAllowed
        db.stepalternatives = notAllowed
      -->
      <define name="db.street">
        <notAllowed/>
      </define>
      <define name="db.subject">
        <notAllowed/>
      </define>
      <define name="db.subjectset">
        <notAllowed/>
      </define>
      <define name="db.subjectterm">
        <notAllowed/>
      </define>
      <!--
        db.subscript = notAllowed
        db.substeps = notAllowed
        db.subtitle = notAllowed
        db.superscript = notAllowed
        db.surname = notAllowed
      -->
      <define name="db.symbol">
        <notAllowed/>
      </define>
      <define name="db.synopfragment">
        <notAllowed/>
      </define>
      <define name="db.synopfragmentref">
        <notAllowed/>
      </define>
      <define name="db.synopsis">
        <notAllowed/>
      </define>
      <define name="db.synopsisinfo">
        <notAllowed/>
      </define>
      <!--
        db.systemitem = notAllowed
        db.tag = notAllowed
        db.task = notAllowed
        db.taskprerequisites = notAllowed
        db.taskrelated = notAllowed
        db.tasksummary = notAllowed
        db.tbody = notAllowed
        db.td = notAllowed
      -->
      <define name="db.template">
        <notAllowed/>
      </define>
      <define name="db.templatename">
        <notAllowed/>
      </define>
      <!-- db.term = notAllowed -->
      <define name="db.termdef">
        <notAllowed/>
      </define>
      <!-- db.tertiary = notAllowed -->
      <define name="db.tertiaryie">
        <notAllowed/>
      </define>
      <define name="db.textdata">
        <notAllowed/>
      </define>
      <!--
        db.textobject = notAllowed
        db.tbody = notAllowed
        db.tfoot = notAllowed
        db.tgroup = notAllowed
        db.tip = notAllowed
        db.title = notAllowed
        db.titleabbrev = notAllowed
      -->
      <define name="db.toc">
        <notAllowed/>
      </define>
      <define name="db.tocdiv">
        <notAllowed/>
      </define>
      <define name="db.tocentry">
        <notAllowed/>
      </define>
      <define name="db.token">
        <notAllowed/>
      </define>
      <!-- db.trademark = notAllowed -->
      <define name="db.type">
        <notAllowed/>
      </define>
      <define name="db.typedefname">
        <notAllowed/>
      </define>
      <define name="db.typedefsynopsis">
        <notAllowed/>
      </define>
      <define name="db.union">
        <notAllowed/>
      </define>
      <define name="db.unionname">
        <notAllowed/>
      </define>
      <define name="db.unionsynopsis">
        <notAllowed/>
      </define>
      <!-- db.uri = notAllowed -->
      <define name="db.userinput">
        <notAllowed/>
      </define>
      <define name="db.varargs">
        <notAllowed/>
      </define>
      <!--
        db.variablelist = notAllowed
        db.varlistentry = notAllowed
        db.varname = notAllowed
        db.videodata = notAllowed
        db.videoobject = notAllowed
      -->
      <define name="db.void">
        <notAllowed/>
      </define>
      <define name="db.volumenum">
        <notAllowed/>
      </define>
      <!-- db.warning = notAllowed -->
      <define name="db.wordasword">
        <notAllowed/>
      </define>
      <!--
        db.xref = notAllowed
        db.year = notAllowed
      -->
    </div>
    <!-- ======== General Patterns -->
    <define name="db.cover.contentmodel">
      <oneOrMore>
        <ref name="db.mediaobject"/>
      </oneOrMore>
    </define>
    <define name="db.nopara.blocks">
      <choice>
        <ref name="db.list.blocks"/>
        <ref name="db.formal.blocks"/>
        <ref name="db.informal.blocks"/>
        <ref name="db.publishing.blocks"/>
        <ref name="db.graphic.blocks"/>
        <ref name="db.technical.blocks"/>
        <ref name="db.verbatim.blocks"/>
        <ref name="db.remark"/>
        <ref name="db.indexterm"/>
        <ref name="db.synopsis.blocks"/>
        <ref name="db.admonition.blocks"/>
        <ref name="db.bridgehead"/>
      </choice>
    </define>
    <!-- | db.revhistory -->
    <!-- Disallow mediaobject in certain contexts -->
    <define name="db.graphic.blocks">
      <notAllowed/>
    </define>
    <!--
      ======== Removed Attribute
      Issue 61:
      Remove imagedata/@depth attribute
    -->
    <define name="db.imagedata.depth.attribute">
      <empty/>
    </define>
    <define name="db.rdfalite.attributes">
      <empty/>
    </define>
    <define name="db.xlink.attributes">
      <empty/>
    </define>
    <!-- We don't want/need xreflabel -->
    <define name="db.xreflabel.attribute">
      <empty/>
    </define>
    <!-- Removed all db.common.linking.attributes from division elements -->
    <define name="db.acknowledgements.attlist">
      <interleave>
        <optional>
          <ref name="db.acknowledgements.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.acknowledgements.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.appendix.attlist">
      <interleave>
        <optional>
          <ref name="db.appendix.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.appendix.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.bibliography.attlist">
      <interleave>
        <optional>
          <ref name="db.bibliography.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.bibliography.status.attrib"/>
        </optional>
      </interleave>
    </define>
    <define name="db.bibliodiv.attlist">
      <interleave>
        <optional>
          <ref name="db.bibliodiv.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.bibliodiv.status.attrib"/>
        </optional>
      </interleave>
    </define>
    <define name="db.biblioentry.attlist">
      <interleave>
        <optional>
          <ref name="db.biblioentry.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.bibliomixed.attlist">
      <interleave>
        <optional>
          <ref name="db.bibliomixed.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.book.attlist">
      <interleave>
        <optional>
          <ref name="db.book.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.book.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.chapter.attlist">
      <interleave>
        <optional>
          <ref name="db.chapter.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.chapter.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.colophon.attlist">
      <interleave>
        <optional>
          <ref name="db.colophon.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.colophon.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.dedication.attlist">
      <interleave>
        <optional>
          <ref name="db.dedication.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.dedication.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.glossary.attlist">
      <interleave>
        <optional>
          <ref name="db.glossary.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.glossary.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.glossdiv.attlist">
      <interleave>
        <optional>
          <ref name="db.glossdiv.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.glossdiv.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.glossentry.attlist">
      <interleave>
        <optional>
          <ref name="db.glossentry.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.glossentry.sortas.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.part.attlist">
      <interleave>
        <optional>
          <ref name="db.part.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.part.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.preface.attlist">
      <interleave>
        <optional>
          <ref name="db.preface.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.preface.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.reference.attlist">
      <interleave>
        <optional>
          <ref name="db.reference.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.reference.status.attribute"/>
        </optional>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.refentry.attlist">
      <interleave>
        <optional>
          <ref name="db.refentry.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.refentry.status.attribute"/>
        </optional>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.refsection.attlist">
      <interleave>
        <optional>
          <ref name="db.refsection.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.refsection.status.attribute"/>
        </optional>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.refsect1.attlist">
      <interleave>
        <optional>
          <ref name="db.refsect1.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.refsect1.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.refsect2.attlist">
      <interleave>
        <optional>
          <ref name="db.refsect2.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.refsect2.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.refnamediv.attlist">
      <interleave>
        <optional>
          <ref name="db.refnamediv.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.refsynopsisdiv.attlist">
      <interleave>
        <optional>
          <ref name="db.refsynopsisdiv.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.result.attlist">
      <interleave>
        <optional>
          <ref name="db.result.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.section.attlist">
      <interleave>
        <optional>
          <ref name="db.section.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.section.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.sect1.attlist">
      <interleave>
        <optional>
          <ref name="db.sect1.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.sect1.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.sect2.attlist">
      <interleave>
        <optional>
          <ref name="db.sect2.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.sect2.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.sect3.attlist">
      <interleave>
        <optional>
          <ref name="db.sect3.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.sect3.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.sect4.attlist">
      <interleave>
        <optional>
          <ref name="db.sect4.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.sect4.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.sect5.attlist">
      <interleave>
        <optional>
          <ref name="db.sect5.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.sect5.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.set.attlist">
      <interleave>
        <optional>
          <ref name="db.set.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.set.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.simplesect.attlist">
      <interleave>
        <optional>
          <ref name="db.simplesect.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.simplesect.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.topic.attlist">
      <interleave>
        <optional>
          <ref name="db.topic.role.attribute"/>
        </optional>
        <optional>
          <ref name="db.topic.type.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.topic.status.attribute"/>
        </optional>
      </interleave>
    </define>
    <!-- Removed all db.common.linking.attributes from block elements -->
    <define name="db.address.attlist">
      <interleave>
        <optional>
          <ref name="db.address.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.verbatim.attributes"/>
      </interleave>
    </define>
    <define name="db.bibliolist.attlist">
      <interleave>
        <optional>
          <ref name="db.bibliolist.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.blockquote.attlist">
      <interleave>
        <optional>
          <ref name="db.blockquote.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.bridgehead.attlist">
      <interleave>
        <optional>
          <ref name="db.bridgehead.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.bridgehead.renderas.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.calloutlist.attlist">
      <interleave>
        <optional>
          <ref name="db.calloutlist.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.caution.attlist">
      <interleave>
        <optional>
          <ref name="db.caution.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.classsynopsis.attlist">
      <interleave>
        <optional>
          <ref name="db.classsynopsis.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.language.attribute"/>
        </optional>
        <optional>
          <ref name="db.classsynopsis.class.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.cmdsynopsis.attlist">
      <interleave>
        <optional>
          <ref name="db.cmdsynopsis.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.cmdsynopsis.sepchar.attribute"/>
        </optional>
        <optional>
          <ref name="db.cmdsynopsis.cmdlength.attribute"/>
        </optional>
        <optional>
          <ref name="db.cmdsynopsis.label.attribute"/>
        </optional>
      </interleave>
    </define>
    <!--
      Issue 55:
      Issue #39/#55:
      disallow xml:id on child elements of table
    -->
    <define name="db.colspec.attlist">
      <interleave>
        <optional>
          <ref name="db.colspec.role.attribute"/>
        </optional>
        <ref name="db.common.base.attributes"/>
        <ref name="db.common.linking.attributes"/>
        <optional>
          <ref name="db.colspec.colnum.attribute"/>
        </optional>
        <optional>
          <ref name="db.char.attribute"/>
        </optional>
        <optional>
          <ref name="db.colsep.attribute"/>
        </optional>
        <optional>
          <ref name="db.colspec.colwidth.attribute"/>
        </optional>
        <optional>
          <ref name="db.charoff.attribute"/>
        </optional>
        <optional>
          <ref name="db.colname.attribute"/>
        </optional>
        <optional>
          <ref name="db.rowsep.attribute"/>
        </optional>
        <optional>
          <ref name="db.align.attribute"/>
        </optional>
        <optional>
          <ref name="db.rowheader.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.constraintdef.attlist">
      <interleave>
        <optional>
          <ref name="db.constraintdef.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.classsynopsisinfo.attlist">
      <interleave>
        <optional>
          <ref name="db.classsynopsisinfo.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.verbatim.attributes"/>
      </interleave>
    </define>
    <define name="db.destructorsynopsis.attlist">
      <interleave>
        <optional>
          <ref name="db.destructorsynopsis.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.language.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.epigraph.attlist">
      <interleave>
        <optional>
          <ref name="db.epigraph.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.equation.attlist">
      <interleave>
        <optional>
          <ref name="db.equation.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.equation.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.pgwide.attribute"/>
        </optional>
        <optional>
          <ref name="db.floatstyle.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.example.attlist">
      <interleave>
        <optional>
          <ref name="db.example.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.example.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.example.floatstyle.attribute"/>
        </optional>
        <optional>
          <choice>
            <ref name="db.example.width.attribute"/>
            <ref name="db.example.pgwide.attribute"/>
          </choice>
        </optional>
      </interleave>
    </define>
    <define name="db.fieldsynopsis.attlist">
      <interleave>
        <optional>
          <ref name="db.fieldsynopsis.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.language.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.figure.attlist">
      <interleave>
        <optional>
          <ref name="db.figure.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.figure.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.figure.pgwide.attribute"/>
        </optional>
        <optional>
          <ref name="db.figure.floatstyle.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.funcsynopsis.attlist">
      <interleave>
        <optional>
          <ref name="db.funcsynopsis.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.language.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.glosslist.attlist">
      <interleave>
        <optional>
          <ref name="db.glosslist.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.important.attlist">
      <interleave>
        <optional>
          <ref name="db.important.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.informalexample.attlist">
      <interleave>
        <optional>
          <ref name="db.informalexample.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.informalexample.floatstyle.attribute"/>
        </optional>
        <optional>
          <choice>
            <ref name="db.informalexample.width.attribute"/>
            <ref name="db.informalexample.pgwide.attribute"/>
          </choice>
        </optional>
      </interleave>
    </define>
    <define name="db.informalfigure.attlist">
      <interleave>
        <optional>
          <ref name="db.informalfigure.role.attribute"/>
        </optional>
        <ref name="db.common.base.attributes"/>
        <optional>
          <ref name="db.informalfigure.label.attribute"/>
        </optional>
        <optional>
          <ref name="db.informalfigure.pgwide.attribute"/>
        </optional>
        <optional>
          <ref name="db.informalfigure.floatstyle.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.cals.informaltable.attlist">
      <interleave>
        <optional>
          <ref name="db.cals.informaltable.role.attribute"/>
        </optional>
        <ref name="db.common.base.attributes"/>
        <optional>
          <ref name="db.tabstyle.attribute"/>
        </optional>
        <optional>
          <ref name="db.floatstyle.attribute"/>
        </optional>
        <optional>
          <ref name="db.orient.attribute"/>
        </optional>
        <optional>
          <ref name="db.colsep.attribute"/>
        </optional>
        <optional>
          <ref name="db.rowsep.attribute"/>
        </optional>
        <optional>
          <ref name="db.frame.attribute"/>
        </optional>
        <optional>
          <ref name="db.pgwide.attribute"/>
        </optional>
        <optional>
          <ref name="db.rowheader.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.cals.table.attlist">
      <interleave>
        <optional>
          <ref name="db.cals.table.role.attribute"/>
        </optional>
        <optional>
          <ref name="db.cals.table.label.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.tabstyle.attribute"/>
        </optional>
        <optional>
          <ref name="db.floatstyle.attribute"/>
        </optional>
        <optional>
          <ref name="db.orient.attribute"/>
        </optional>
        <optional>
          <ref name="db.colsep.attribute"/>
        </optional>
        <optional>
          <ref name="db.rowsep.attribute"/>
        </optional>
        <optional>
          <ref name="db.frame.attribute"/>
        </optional>
        <optional>
          <ref name="db.pgwide.attribute"/>
        </optional>
        <optional>
          <attribute name="shortentry">
            <a:documentation>Indicates if the short or long title should be used in a List of Tables</a:documentation>
            <choice>
              <value>0</value>
              <a:documentation>Indicates that the full title should be used.</a:documentation>
              <value>1</value>
              <a:documentation>Indicates that the short short title (titleabbrev) should be used.</a:documentation>
            </choice>
          </attribute>
        </optional>
        <optional>
          <attribute name="tocentry">
            <a:documentation>Indicates if the table should appear in a List of Tables</a:documentation>
            <choice>
              <value>0</value>
              <a:documentation>Indicates that the table should not occur in the List of Tables.</a:documentation>
              <value>1</value>
              <a:documentation>Indicates that the table should appear in the List of Tables.</a:documentation>
            </choice>
          </attribute>
        </optional>
        <optional>
          <ref name="db.rowheader.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.cals.tbody.attlist">
      <interleave>
        <optional>
          <ref name="db.cals.tbody.role.attribute"/>
        </optional>
        <ref name="db.common.base.attributes"/>
        <ref name="db.common.linking.attributes"/>
        <optional>
          <ref name="db.valign.attribute"/>
        </optional>
      </interleave>
    </define>
    <!--
      Issue #39:
      disallow xml:id on child elements of table
    -->
    <define name="db.cals.thead.attlist">
      <interleave>
        <optional>
          <ref name="db.cals.thead.role.attribute"/>
        </optional>
        <ref name="db.common.base.attributes"/>
        <ref name="db.common.linking.attributes"/>
        <optional>
          <ref name="db.valign.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.cals.tfoot.attlist">
      <interleave>
        <optional>
          <ref name="db.cals.tfoot.role.attribute"/>
        </optional>
        <ref name="db.common.base.attributes"/>
        <ref name="db.common.linking.attributes"/>
        <optional>
          <ref name="db.valign.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.itemizedlist.attlist">
      <interleave>
        <optional>
          <ref name="db.itemizedlist.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.spacing.attribute"/>
        </optional>
        <optional>
          <ref name="db.itemizedlist.mark.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.literallayout.attlist">
      <interleave>
        <optional>
          <ref name="db.literallayout.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.common.linking.attributes"/>
        <ref name="db.verbatim.attributes"/>
        <optional>
          <ref name="db.literallayout.class.attribute"/>
        </optional>
      </interleave>
    </define>
    <!-- Disallow xml:id -->
    <define name="db.mediaobject.attlist">
      <interleave>
        <optional>
          <ref name="db.mediaobject.role.attribute"/>
        </optional>
        <ref name="db.common.base.attributes"/>
      </interleave>
    </define>
    <define name="db.methodsynopsis.attlist">
      <interleave>
        <optional>
          <ref name="db.methodsynopsis.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.language.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.msgset.attlist">
      <interleave>
        <optional>
          <ref name="db.msgset.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.note.attlist">
      <interleave>
        <optional>
          <ref name="db.note.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.orderedlist.attlist">
      <interleave>
        <optional>
          <ref name="db.orderedlist.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.spacing.attribute"/>
        </optional>
        <optional>
          <choice>
            <ref name="db.orderedlist.continuation.attribute"/>
            <ref name="db.orderedlist.startingnumber.attribute"/>
          </choice>
        </optional>
        <optional>
          <ref name="db.orderedlist.inheritnum.attribute"/>
        </optional>
        <optional>
          <ref name="db.orderedlist.numeration.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.procedure.attlist">
      <interleave>
        <optional>
          <ref name="db.procedure.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.productionset.attlist">
      <interleave>
        <optional>
          <ref name="db.productionset.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.programlisting.attlist">
      <interleave>
        <optional>
          <ref name="db.programlisting.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.verbatim.attributes"/>
        <optional>
          <ref name="db.programlisting.width.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.programlistingco.attlist">
      <interleave>
        <optional>
          <ref name="db.programlistingco.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.qandaset.attlist">
      <interleave>
        <optional>
          <ref name="db.qandaset.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.qandaset.defaultlabel.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.revhistory.attlist">
      <interleave>
        <optional>
          <ref name="db.revhistory.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.screen.attlist">
      <interleave>
        <optional>
          <ref name="db.screen.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.verbatim.attributes"/>
        <optional>
          <ref name="db.screen.width.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.screenco.attlist">
      <interleave>
        <optional>
          <ref name="db.screenco.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.screenshot.attlist">
      <interleave>
        <optional>
          <ref name="db.screenshot.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.segmentedlist.attlist">
      <interleave>
        <optional>
          <ref name="db.segmentedlist.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.sidebar.attlist">
      <interleave>
        <optional>
          <ref name="db.sidebar.role.attribute"/>
        </optional>
        <optional>
          <ref name="db.sidebar.floatstyle.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.simplelist.attlist">
      <interleave>
        <optional>
          <ref name="db.simplelist.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.simplelist.type.attribute"/>
        </optional>
        <optional>
          <ref name="db.simplelist.columns.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.synopsis.attlist">
      <interleave>
        <optional>
          <ref name="db.synopsis.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.verbatim.attributes"/>
        <optional>
          <ref name="db.synopsis.label.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.task.attlist">
      <interleave>
        <optional>
          <ref name="db.task.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <define name="db.tip.attlist">
      <interleave>
        <optional>
          <ref name="db.tip.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <!--
      Issue #39:
      disallow xml:id on child elements of table
    -->
    <define name="db.tgroup.attlist">
      <interleave>
        <optional>
          <ref name="db.tgroup.role.attribute"/>
        </optional>
        <ref name="db.common.base.attributes"/>
        <ref name="db.common.linking.attributes"/>
        <optional>
          <ref name="db.char.attribute"/>
        </optional>
        <optional>
          <ref name="db.charoff.attribute"/>
        </optional>
        <optional>
          <ref name="db.tgroup.tgroupstyle.attribute"/>
        </optional>
        <ref name="db.tgroup.cols.attribute"/>
        <optional>
          <ref name="db.colsep.attribute"/>
        </optional>
        <optional>
          <ref name="db.rowsep.attribute"/>
        </optional>
        <optional>
          <ref name="db.align.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.variablelist.attlist">
      <interleave>
        <optional>
          <ref name="db.variablelist.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <optional>
          <ref name="db.spacing.attribute"/>
        </optional>
        <optional>
          <ref name="db.variablelist.termlength.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.warning.attlist">
      <interleave>
        <optional>
          <ref name="db.warning.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
      </interleave>
    </define>
    <!-- ========= Changed or Redefinied Attributes -->
    <div>
      <!--
        Issue #73
        Restrict ID/IDREF to numbers, digits and "-" only
      -->
      <define name="db.linkend.attribute">
        <attribute name="linkend">
          <a:documentation>Points to an internal link target by identifying the value of its xml:id attribute
valid value is numbers, digits and "-" only</a:documentation>
          <data type="IDREF">
            <param name="pattern">[\-0-9a-zA-Z]+</param>
          </data>
        </attribute>
      </define>
      <define name="db.xml.id.attribute">
        <attribute name="xml:id">
          <a:documentation>Identifies the unique ID value of the element
valid value is numbers, digits and "-" only</a:documentation>
          <data type="ID">
            <param name="pattern">[\-0-9a-zA-Z]+</param>
          </data>
        </attribute>
      </define>
    </div>
    <!--
      Issue 103
      Validate the width attribute which consists of a number followed by a unit.
      
      Not allowed is:
       - a number without the unit
       - a zero width, be it 0UNIT or 0.0UNIT. Allowed is 0.xUNIT whereas 9 >= x >= 1
       - a leading zero like 05UNIT
    -->
    <div>
      <define name="db.width.attribute">
        <attribute name="width">
          <a:documentation>Specifies the width of the element
Only a float with a unit are possible, single floats are forbidden
Allowed units are %, mm, cm, in, em, and *</a:documentation>
          <data type="string">
            <param name="pattern">(0\.[0-9]|[1-9][0-9]*(\.[0-9])?)(%|mm|cm|in|em|\*)</param>
          </data>
        </attribute>
      </define>
    </div>
    <div>
      <!-- Issue #90: Restrict character set of profiling attributes -->
      <define name="db.arch.attribute" combine="choice">
        <attribute name="arch">
          <ref name="db.profiling.pattern"/>
        </attribute>
      </define>
      <define name="db.audience.attribute" combine="choice">
        <attribute name="audience">
          <ref name="db.profiling.pattern"/>
        </attribute>
      </define>
      <define name="db.condition.attribute" combine="choice">
        <attribute name="condition">
          <ref name="db.profiling.pattern"/>
        </attribute>
      </define>
      <define name="db.conformance.attribute" combine="choice">
        <attribute name="conformance">
          <ref name="db.profiling.pattern"/>
        </attribute>
      </define>
      <define name="db.os.attribute" combine="choice">
        <attribute name="os">
          <ref name="db.profiling.pattern"/>
        </attribute>
      </define>
      <define name="db.outputformat.attribute" combine="choice">
        <attribute name="outputformat">
          <ref name="db.profiling.pattern"/>
        </attribute>
      </define>
      <define name="db.revision.attribute" combine="choice">
        <attribute name="revision">
          <ref name="db.profiling.pattern"/>
        </attribute>
      </define>
      <define name="db.security.attribute" combine="choice">
        <attribute name="security">
          <ref name="db.profiling.pattern"/>
        </attribute>
      </define>
      <define name="db.userlevel.attribute" combine="choice">
        <attribute name="userlevel">
          <ref name="db.profiling.pattern"/>
        </attribute>
      </define>
      <define name="db.vendor.attribute" combine="choice">
        <attribute name="vendor">
          <ref name="db.profiling.pattern"/>
        </attribute>
      </define>
      <define name="db.wordsize.attribute" combine="choice">
        <attribute name="wordsize">
          <ref name="db.profiling.pattern"/>
        </attribute>
      </define>
    </div>
    <!--
      Introduce optional its:translate attribute and
      transclusion attributes:
    -->
    <define name="db.common.base.attributes">
      <interleave>
        <optional>
          <ref name="db.version.attribute"/>
        </optional>
        <optional>
          <ref name="db.xml.lang.attribute"/>
        </optional>
        <optional>
          <ref name="db.xml.base.attribute"/>
        </optional>
        <optional>
          <ref name="db.remap.attribute"/>
        </optional>
        <optional>
          <ref name="db.xreflabel.attribute"/>
        </optional>
        <optional>
          <ref name="db.revisionflag.attribute"/>
        </optional>
        <optional>
          <ref name="db.dir.attribute"/>
        </optional>
        <ref name="db.effectivity.attributes"/>
        <ref name="db.rdfalite.attributes"/>
        <ref name="db.common.transclusion.attributes"/>
        <interleave>
          <ref name="its-local.attributes"/>
          <optional>
            <ref name="its-attribute.version"/>
          </optional>
        </interleave>
      </interleave>
    </define>
    <define name="db.common.data.attributes">
      <optional>
        <attribute name="format">
          <a:documentation>Specifies the format of the data</a:documentation>
          <ref name="db.format.enumeration"/>
        </attribute>
      </optional>
      <attribute name="fileref">
        <a:documentation>Indentifies the location of the data by URI</a:documentation>
        <data type="anyURI"/>
      </attribute>
      <!--
        |
        ## Identifies the location of the data by external identifier (entity name)
        attribute entityref { xsd:ENTITY }
      -->
    </define>
    <!--
      restrict prompts only allowing root/user/custom prompts ("root" and
      "user" are currently in use, "custom" is not but is defined in the
      stylesheets)
    -->
    <define name="db.prompt.role.attribute">
      <attribute name="role">
        <choice>
          <value>root</value>
          <value>user</value>
          <value>custom</value>
        </choice>
      </attribute>
    </define>
    <!-- Disallow xml:id -->
    <define name="db.entry.attlist">
      <interleave>
        <optional>
          <ref name="db.entry.role.attribute"/>
        </optional>
        <ref name="db.common.base.attributes"/>
        <ref name="db.common.linking.attributes"/>
        <optional>
          <ref name="db.valign.attribute"/>
        </optional>
        <optional>
          <ref name="db.char.attribute"/>
        </optional>
        <optional>
          <ref name="db.colsep.attribute"/>
        </optional>
        <optional>
          <ref name="db.charoff.attribute"/>
        </optional>
        <optional>
          <ref name="db.entry.morerows.attribute"/>
        </optional>
        <optional>
          <ref name="db.column-spec.attributes"/>
        </optional>
        <optional>
          <ref name="db.rowsep.attribute"/>
        </optional>
        <optional>
          <ref name="db.entry.rotate.attribute"/>
        </optional>
        <optional>
          <ref name="db.align.attribute"/>
        </optional>
        <optional>
          <ref name="db.entry.scope.attribute"/>
        </optional>
        <optional>
          <ref name="db.entry.headers.attribute"/>
        </optional>
      </interleave>
    </define>
    <!-- Require xlink:href -->
    <define name="db.link.attlist">
      <interleave>
        <optional>
          <ref name="db.link.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.xlink.hrefreq.simple.link.attributes"/>
      </interleave>
    </define>
    <!-- Disallow xml:id -->
    <define name="db.row.attlist">
      <interleave>
        <optional>
          <ref name="db.row.role.attribute"/>
        </optional>
        <ref name="db.common.base.attributes"/>
        <ref name="db.common.linking.attributes"/>
        <optional>
          <ref name="db.rowsep.attribute"/>
        </optional>
        <optional>
          <ref name="db.valign.attribute"/>
        </optional>
      </interleave>
    </define>
    <define name="db.version.attribute">
      <attribute name="version">
        <a:documentation>Specifies the DocBook version of the element and its descendants</a:documentation>
        <choice>
          <ref name="suse.schema.version"/>
          <text/>
        </choice>
      </attribute>
    </define>
    <!--
      Replaced db.common.req.linking.attributes with db.linkend.attribute
      to force linkend attribute
    -->
    <define name="db.xref.attlist">
      <interleave>
        <optional>
          <ref name="db.xref.role.attribute"/>
        </optional>
        <ref name="db.common.attributes"/>
        <ref name="db.linkend.attribute"/>
        <optional>
          <ref name="db.xref.xrefstyle.attribute"/>
        </optional>
        <optional>
          <ref name="db.xref.endterm.attribute"/>
        </optional>
      </interleave>
    </define>
    <!-- Don't allow xml:id's on remarks: -->
    <define name="db.remark.attlist">
      <interleave>
        <optional>
          <ref name="db.remark.role.attribute"/>
        </optional>
        <ref name="db.common.base.attributes"/>
        <ref name="db.common.linking.attributes"/>
      </interleave>
    </define>
    <!-- ======== Changed Content Model -->
    <!-- Admonitions -->
    <div>
      <define name="db.admonition.blocks">
        <choice>
          <!-- Removed caution -->
          <ref name="db.important"/>
          <ref name="db.note"/>
          <ref name="db.tip"/>
          <ref name="db.warning"/>
        </choice>
      </define>
    </div>
    <!-- affiliation -->
    <div>
      <define name="db.affiliation">
        <element name="affiliation">
          <a:documentation>The institutional affiliation of an individual</a:documentation>
          <ref name="db.affiliation.attlist"/>
          <choice>
            <ref name="db.jobtitle"/>
            <ref name="db.orgname"/>
            <interleave>
              <ref name="db.jobtitle"/>
              <ref name="db.orgname"/>
            </interleave>
          </choice>
        </element>
      </define>
    </div>
    <!--
      book
      Issue #63: restrict content model of book
    -->
    <div>
      <define name="db.book.components">
        <!-- (db.navigation.components | db.components | db.divisions)* | db.topic* -->
        <choice>
          <zeroOrMore>
            <choice>
              <ref name="db.article"/>
              <ref name="db.xi.include"/>
            </choice>
          </zeroOrMore>
          <group>
            <zeroOrMore>
              <choice>
                <ref name="db.preface"/>
                <ref name="db.xi.include"/>
              </choice>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="db.chapter"/>
            </zeroOrMore>
            <zeroOrMore>
              <choice>
                <ref name="db.part"/>
                <ref name="db.xi.include"/>
              </choice>
            </zeroOrMore>
          </group>
        </choice>
        <zeroOrMore>
          <choice>
            <ref name="db.navigation.components"/>
            <ref name="db.appendix"/>
            <ref name="db.xi.include"/>
          </choice>
        </zeroOrMore>
      </define>
    </div>
    <!--
      command
      Issue #59: Reduce content model of command
    -->
    <div>
      <define name="db.command">
        <element name="command">
          <a:documentation>The name of an executable program or other software command</a:documentation>
          <zeroOrMore>
            <choice>
              <text/>
              <ref name="db.emphasis"/>
              <ref name="db.phrase"/>
              <ref name="db.replaceable"/>
            </choice>
          </zeroOrMore>
        </element>
      </define>
    </div>
    <!-- contrib -->
    <div>
      <define name="db.contrib">
        <element name="contrib">
          <a:documentation>A summary of the contributions made to a document by a credited source</a:documentation>
          <ref name="db.contrib.attlist"/>
          <text/>
        </element>
      </define>
    </div>
    <!-- entry -->
    <div>
      <!-- Disallow procedure in table <entry>s -->
      <define name="db.entry">
        <a:documentation>A cell in a table</a:documentation>
        <element name="entry">
          <ref name="db.entry.attlist">
            <s:pattern>
              <s:title>Element exclusion</s:title>
              <s:rule context="db:entry">
                <s:assert test="not(.//db:table)">table must not occur among the children or descendants of entry</s:assert>
              </s:rule>
            </s:pattern>
            <s:pattern>
               <s:title>Element exclusion</s:title>
               <s:rule context="db:entry">
                  <s:assert test="not(.//db:informaltable)">informaltable must not occur among the children or descendants of entry</s:assert>
              </s:rule>
            </s:pattern>
          </ref>
          <ref name="db.entry.model"/>
        </element>
      </define>
    </div>
    <!-- We only want to support CALS tables -->
    <div>
      <define name="db.informaltable.choice">
        <choice>
          <notAllowed/>
          <ref name="db.cals.informaltable"/>
        </choice>
      </define>
      <define name="db.table.choice">
        <choice>
          <notAllowed/>
          <ref name="db.cals.table"/>
        </choice>
      </define>
      <define name="db.html.table">
        <notAllowed/>
      </define>
      <define name="db.html.informaltable">
        <notAllowed/>
      </define>
    </div>
    <!-- informalfigure: We allow only one mediaobject inside -->
    <div>
      <define name="db.informalfigure">
        <element name="informalfigure">
          <a:documentation>A untitled figure</a:documentation>
          <s:pattern>
            <s:title>Root must have version</s:title>

               <s:rule context="/db:informalfigure">
                  <s:assert test="@version">If this element is the root element, it must have a version attribute.</s:assert>

               </s:rule>

            </s:pattern>
          <ref name="db.informalfigure.attlist"/>
          <ref name="db.informalfigure.info"/>
          <ref name="db.mediaobject"/>
          <optional>
            <ref name="db.caption"/>
          </optional>
        </element>
      </define>
    </div>
    <!-- figure: We allow one mediaobject inside figure -->
    <div>
      <define name="db.figure">
        <element name="figure">
          <a:documentation>A formal figure, generally an illustration, with a title</a:documentation>
          <s:pattern>
            <s:title>Element exclusion</s:title>

               <s:rule context="db:figure">
                  <s:assert test="not(.//db:example)">example must not occur among the children or descendants of figure</s:assert>

               </s:rule>

            </s:pattern>
          <s:pattern>
            <s:title>Element exclusion</s:title>

               <s:rule context="db:figure">
                  <s:assert test="not(.//db:figure)">figure must not occur among the children or descendants of figure</s:assert>

               </s:rule>

            </s:pattern>
          <s:pattern>
            <s:title>Element exclusion</s:title>

               <s:rule context="db:figure">
                  <s:assert test="not(.//db:table)">table must not occur among the children or descendants of figure</s:assert>

               </s:rule>

            </s:pattern>
          <s:pattern>
            <s:title>Element exclusion</s:title>

               <s:rule context="db:figure">
                  <s:assert test="not(.//db:equation)">equation must not occur among the children or descendants of figure</s:assert>

               </s:rule>

            </s:pattern>
          <s:pattern>
            <s:title>Root must have version</s:title>

               <s:rule context="/db:figure">
                  <s:assert test="@version">If this element is the root element, it must have a version attribute.</s:assert>

               </s:rule>

            </s:pattern>
          <ref name="db.figure.attlist"/>
          <ref name="db.figure.info"/>
          <ref name="db.mediaobject"/>
          <optional>
            <ref name="db.caption"/>
          </optional>
        </element>
      </define>
    </div>
    <!--
      keycombo
      Issue #50:
      Remove action in keycombo
       div {
         db.keycombo.action.attrib = empty
       }
    -->
    <!-- para -->
    <div>
      <!-- Disallow xml:id in paras -->
      <define name="db.para.attlist">
        <interleave>
          <optional>
            <ref name="db.para.role.attribute"/>
          </optional>
          <ref name="db.common.base.attributes"/>
          <optional>
            <ref name="db.annotations.attribute"/>
          </optional>
          <ref name="db.common.linking.attributes"/>
        </interleave>
      </define>
      <!-- We don't want block elements inside paras, imitate simpara -->
      <define name="db.para">
        <element name="para">
          <a:documentation>A paragraph (without block elements)</a:documentation>
          <s:pattern>
            <s:title>Root must have version</s:title>

          <s:rule context="/db:para">
            <s:assert test="@version">The root element must have a version attribute.</s:assert>

          </s:rule>

        </s:pattern>
          <ref name="db.para.attlist"/>
          <zeroOrMore>
            <!-- db.para.info, -->
            <group>
              <ref name="db.all.inlines"/>
            </group>
          </zeroOrMore>
        </element>
      </define>
    </div>
    <!-- personname -->
    <div>
      <!-- Removed text -->
      <define name="db.personname">
        <element name="personname">
          <a:documentation>The personal name of an individual</a:documentation>
          <ref name="db.personname.attlist"/>
          <oneOrMore>
            <choice>
              <ref name="db.honorific"/>
              <ref name="db.firstname"/>
              <ref name="db.surname"/>
              <ref name="db.lineage"/>
              <ref name="db.othername"/>
            </choice>
          </oneOrMore>
        </element>
      </define>
      <define name="db.person.author.contentmodel">
        <ref name="db.personname"/>
        <interleave>
          <optional>
            <ref name="db.email"/>
          </optional>
          <optional>
            <ref name="db.affiliation"/>
          </optional>
          <optional>
            <ref name="db.contrib"/>
          </optional>
        </interleave>
      </define>
    </div>
    <!-- qandaentry -->
    <div>
      <!-- We need one question and one answer -->
      <define name="db.qandaentry">
        <element name="qandaentry">
          <a:documentation>A question/answer set within a QandASet</a:documentation>
          <ref name="db.qandaentry.attlist"/>
          <ref name="db.qandaentry.info"/>
          <ref name="db.question"/>
          <ref name="db.answer"/>
        </element>
      </define>
    </div>
    <!-- question -->
    <div>
      <!-- Removed label and question has to start with a para -->
      <define name="db.question">
        <element name="question">
          <a:documentation>A question in a QandASet</a:documentation>
          <ref name="db.question.attlist"/>
          <ref name="db.para"/>
          <zeroOrMore>
            <ref name="db.all.blocks"/>
          </zeroOrMore>
        </element>
      </define>
    </div>
    <!-- result: restrict content model and allow only certain elements -->
    <div>
      <define name="db.result">
        <element name="result">
          <a:documentation>A wrapper for identifying the results of a procedure or step</a:documentation>
          <ref name="db.result.attlist"/>
          <oneOrMore>
            <choice>
              <ref name="db.para"/>
              <ref name="db.formalpara"/>
              <ref name="db.screen"/>
              <ref name="db.remark"/>
              <ref name="db.figure"/>
              <ref name="db.informalfigure"/>
              <ref name="db.orderedlist"/>
              <ref name="db.itemizedlist"/>
              <ref name="db.simplelist"/>
            </choice>
          </oneOrMore>
        </element>
      </define>
    </div>
    <!--
      replaceable
      Issue #69: reduce content model of replaceable
    -->
    <div>
      <define name="db.replaceable">
        <element name="replaceable">
          <a:documentation>Content that may or must be replaced by the user</a:documentation>
          <ref name="db.replaceable.attlist"/>
          <zeroOrMore>
            <choice>
              <text/>
              <ref name="db.emphasis"/>
              <ref name="db.phrase"/>
            </choice>
          </zeroOrMore>
        </element>
      </define>
    </div>
    <!--
      sect1, sect2, sect3, section
      Issue #64: disallow empty sections
    -->
    <div>
      <define name="db.sect1">
        <element name="sect1">
          <a:documentation>A top-level section of document</a:documentation>
          <ref name="db.sect1.attlist"/>
          <ref name="db.sect1.info"/>
          <zeroOrMore>
            <ref name="db.navigation.components"/>
          </zeroOrMore>
          <choice>
            <group>
              <oneOrMore>
                <ref name="db.all.blocks"/>
              </oneOrMore>
              <optional>
                <ref name="db.sect1.sections"/>
              </optional>
            </group>
            <ref name="db.sect1.sections"/>
          </choice>
          <zeroOrMore>
            <ref name="db.navigation.components"/>
          </zeroOrMore>
        </element>
      </define>
      <define name="db.sect2">
        <element name="sect2">
          <a:documentation>A subsection within a sect1</a:documentation>
          <ref name="db.sect2.attlist"/>
          <ref name="db.sect2.info"/>
          <zeroOrMore>
            <ref name="db.navigation.components"/>
          </zeroOrMore>
          <choice>
            <group>
              <oneOrMore>
                <ref name="db.all.blocks"/>
              </oneOrMore>
              <optional>
                <ref name="db.sect2.sections"/>
              </optional>
            </group>
            <ref name="db.sect2.sections"/>
          </choice>
          <zeroOrMore>
            <ref name="db.navigation.components"/>
          </zeroOrMore>
        </element>
      </define>
      <define name="db.sect3">
        <element name="sect3">
          <a:documentation>A subsection within a sect2</a:documentation>
          <ref name="db.sect3.attlist"/>
          <ref name="db.sect3.info"/>
          <zeroOrMore>
            <ref name="db.navigation.components"/>
          </zeroOrMore>
          <choice>
            <group>
              <oneOrMore>
                <ref name="db.all.blocks"/>
              </oneOrMore>
              <optional>
                <ref name="db.sect3.sections"/>
              </optional>
            </group>
            <ref name="db.sect3.sections"/>
          </choice>
          <zeroOrMore>
            <ref name="db.navigation.components"/>
          </zeroOrMore>
        </element>
      </define>
      <define name="db.sect4">
        <element name="sect4">
          <a:documentation>A subsection within a sect3</a:documentation>
          <ref name="db.sect4.attlist"/>
          <ref name="db.sect4.info"/>
          <zeroOrMore>
            <ref name="db.navigation.components"/>
          </zeroOrMore>
          <choice>
            <group>
              <oneOrMore>
                <ref name="db.all.blocks"/>
              </oneOrMore>
              <optional>
                <ref name="db.sect4.sections"/>
              </optional>
            </group>
            <ref name="db.sect4.sections"/>
          </choice>
          <zeroOrMore>
            <ref name="db.navigation.components"/>
          </zeroOrMore>
        </element>
      </define>
      <define name="db.sect5">
        <element name="sect5">
          <a:documentation>A subsection within a sect4</a:documentation>
          <ref name="db.sect5.attlist"/>
          <ref name="db.sect5.info"/>
          <zeroOrMore>
            <ref name="db.navigation.components"/>
          </zeroOrMore>
          <choice>
            <group>
              <oneOrMore>
                <ref name="db.all.blocks"/>
              </oneOrMore>
              <optional>
                <ref name="db.sect5.sections"/>
              </optional>
            </group>
            <ref name="db.sect5.sections"/>
          </choice>
          <zeroOrMore>
            <ref name="db.navigation.components"/>
          </zeroOrMore>
        </element>
      </define>
      <define name="db.section">
        <element name="section">
          <a:documentation>A recursive section</a:documentation>
          <ref name="db.section.attlist"/>
          <ref name="db.section.info"/>
          <zeroOrMore>
            <ref name="db.navigation.components"/>
          </zeroOrMore>
          <ref name="db.recursive.blocks.or.sections"/>
          <zeroOrMore>
            <ref name="db.navigation.components"/>
          </zeroOrMore>
        </element>
      </define>
    </div>
    <!-- step -->
    <div>
      <!-- Replaced db.all.blocks -> db.step.blocks -->
      <define name="db.step">
        <element name="step">
          <a:documentation>A unit of action in a procedure</a:documentation>
          <s:pattern>
            <s:title>Root must have version</s:title>

               <s:rule context="/db:step">
                  <s:assert test="@version">If this element is the root element, it must have a version attribute.</s:assert>

               </s:rule>

            </s:pattern>
          <ref name="db.step.attlist"/>
          <!-- db.step.info?, -->
          <choice>
            <group>
              <oneOrMore>
                <ref name="db.step.blocks"/>
              </oneOrMore>
              <optional>
                <choice>
                  <ref name="db.substeps"/>
                  <ref name="db.stepalternatives"/>
                </choice>
                <zeroOrMore>
                  <ref name="db.step.blocks"/>
                </zeroOrMore>
              </optional>
              <optional>
                <ref name="db.result"/>
              </optional>
            </group>
            <group>
              <choice>
                <ref name="db.substeps"/>
                <ref name="db.stepalternatives"/>
              </choice>
              <zeroOrMore>
                <ref name="db.step.blocks"/>
              </zeroOrMore>
              <optional>
                <ref name="db.result"/>
              </optional>
            </group>
          </choice>
        </element>
      </define>
    </div>
    <!-- task* elements -->
    <div>
      <!-- Require title or info/title in task -->
      <define name="db.task.info">
        <ref name="db._info.title.onlyreq"/>
      </define>
      <!-- tasksummary: Only certain elements are allowed -->
      <define name="db.tasksummary">
        <element name="tasksummary">
          <a:documentation>A summary of a task</a:documentation>
          <ref name="db.tasksummary.attlist"/>
          <oneOrMore>
            <!-- db.tasksummary.info, -->
            <choice>
              <ref name="db.para"/>
              <ref name="db.formalpara"/>
              <ref name="db.itemizedlist"/>
              <ref name="db.orderedlist"/>
              <ref name="db.simplelist"/>
              <ref name="db.variablelist"/>
              <ref name="db.admonition.blocks"/>
            </choice>
          </oneOrMore>
        </element>
      </define>
      <!-- taskprerequisites: We allow only paras -->
      <define name="db.taskprerequisites">
        <element name="taskprerequisites">
          <a:documentation>The prerequisites for a task</a:documentation>
          <ref name="db.taskprerequisites.attlist"/>
          <oneOrMore>
            <!-- db.taskprerequisites.info, -->
            <choice>
              <ref name="db.para"/>
              <ref name="db.formalpara"/>
              <ref name="db.itemizedlist"/>
              <ref name="db.orderedlist"/>
              <ref name="db.simplelist"/>
              <ref name="db.variablelist"/>
            </choice>
          </oneOrMore>
        </element>
      </define>
      <!-- taskrelated: allow only paras and lists -->
      <define name="db.taskrelated">
        <element name="taskrelated">
          <a:documentation>Information related to a task</a:documentation>
          <ref name="db.taskrelated.attlist"/>
          <oneOrMore>
            <!-- db.taskrelated.info, -->
            <choice>
              <ref name="db.para"/>
              <ref name="db.formalpara"/>
              <ref name="db.itemizedlist"/>
              <ref name="db.orderedlist"/>
              <ref name="db.simplelist"/>
              <ref name="db.variablelist"/>
            </choice>
          </oneOrMore>
        </element>
      </define>
    </div>
    <!-- lists: itemizedlist, orderedlist, variablelist -->
    <div>
      <!--
        Removed several block elements as child of list elements
        db.all.blocks -> db.para.blocks
      -->
      <define name="db.calloutlist">
        <element name="calloutlist">
          <a:documentation>A list of callout</a:documentation>
          <ref name="db.calloutlist.attlist"/>
          <ref name="db.calloutlist.info"/>
          <zeroOrMore>
            <ref name="db.para.blocks"/>
          </zeroOrMore>
          <oneOrMore>
            <ref name="db.callout"/>
          </oneOrMore>
        </element>
      </define>
      <define name="db.itemizedlist">
        <element name="itemizedlist">
          <a:documentation>A list in which each entry is marked with a bullet or other dingbat</a:documentation>
          <ref name="db.itemizedlist.attlist"/>
          <ref name="db.itemizedlist.info"/>
          <zeroOrMore>
            <ref name="db.para.blocks"/>
          </zeroOrMore>
          <oneOrMore>
            <ref name="db.listitem"/>
          </oneOrMore>
        </element>
      </define>
      <define name="db.orderedlist">
        <element name="orderedlist">
          <a:documentation>A list in which each entry is marked with a sequentially incremented label</a:documentation>
          <ref name="db.orderedlist.attlist"/>
          <ref name="db.orderedlist.info"/>
          <zeroOrMore>
            <ref name="db.para.blocks"/>
          </zeroOrMore>
          <oneOrMore>
            <ref name="db.listitem"/>
          </oneOrMore>
        </element>
      </define>
      <define name="db.variablelist">
        <element name="variablelist">
          <a:documentation>A list in which each entry is composed of a set of one or more terms and an associated description</a:documentation>
          <ref name="db.variablelist.attlist"/>
          <ref name="db.variablelist.info"/>
          <zeroOrMore>
            <ref name="db.para.blocks"/>
          </zeroOrMore>
          <oneOrMore>
            <ref name="db.varlistentry"/>
          </oneOrMore>
        </element>
      </define>
    </div>
    <!--
      Issue #80:
      Disallow xml:id on listitems
    -->
    <define name="db.listitem.attlist">
      <interleave>
        <optional>
          <ref name="db.listitem.role.attribute"/>
        </optional>
        <!--
          db.common.attributes without
           db.xml.id.attribute? and db.common.linking.attributes
        -->
        <ref name="db.common.base.attributes"/>
        <optional>
          <ref name="db.annotations.attribute"/>
        </optional>
      </interleave>
    </define>
    <!--
      Issue #51:
      Reduce content model in screen
      screen/programlisting content model
    -->
    <define name="db.verbatim.inlines">
      <choice>
        <text/>
        <ref name="db.co"/>
        <ref name="db.code"/>
        <ref name="db.command"/>
        <ref name="db.constant"/>
        <ref name="db.email"/>
        <ref name="db.emphasis"/>
        <ref name="db.envar"/>
        <ref name="db.filename"/>
        <ref name="db.footnote"/>
        <ref name="db.option"/>
        <ref name="db.package"/>
        <ref name="db.parameter"/>
        <ref name="db.phrase"/>
        <ref name="db.prompt"/>
        <ref name="db.property"/>
        <ref name="db.remark"/>
        <ref name="db.replaceable"/>
        <ref name="db.systemitem"/>
        <ref name="db.tag"/>
        <ref name="db.uri"/>
        <ref name="db.varname"/>
        <ref name="db.xref"/>
      </choice>
    </define>
  </include>
</grammar>
<!-- end of include -->
<!-- Redefine content model here: -->
<!-- - - - EOF - - - -->
